.red { color:@red; }
.blue { color:@blue; }

.floatL { float:left; }
.floatR { float:right; }

.clear { clear:both; }

.col25 { float:left; width:25%; }
.col50 { float:left; width:50%; }
.col75 { float:left; width:75%; }

.chzn-container { color:@gray; }

.centered { text-align:center; }

.font-helvetica { font-family:Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif; }
.font-gothic { font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif; }
.font-georgia { font-family:Constantia,Georgia,'Nimbus Roman No9 L',serif; }

.no-select {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/* Borders */
.border-radius(@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
    border-radius:@arguments;
    -moz-border-radius:@arguments;
    -webkit-border-radius:@arguments;
    -o-border-radius:@arguments;
}

.border-radius(all, @radius: 5px) {
    -webkit-border-radius:@radius;
    -moz-border-radius:@radius;
    border-radius:@radius;
}

/* Shadows */
.box-shadow(@x: 0, @y: 0, @blur: 2px, @spread: 2px, @color: #111, inset) {
    box-shadow:@arguments inset;
    -moz-box-shadow:@arguments inset;
    -webkit-box-shadow:@arguments inset;
    -o-box-shadow:@arguments inset;
}

.box-shadow(@x: 0, @y: 0, @blur: 2px, @spread: 2px, @color: #111) {
    box-shadow:@arguments;
    -moz-box-shadow:@arguments;
    -webkit-box-shadow:@arguments;
    -o-box-shadow:@arguments;
}

.box-shadow(dual, @x: 0, @y: 0, @blur: 2px, @spread: 2px, @color: #111, inset, @x2: 0, @y2: 0, @blur2: 2px, @spread2: 2px, @color2: #111, inset) {
    box-shadow:@x @y @blur @spread @color inset, @x2 @y2 @blur2 @spread2 @color2 inset;
    -moz-box-shadow:@x @y @blur @spread @color inset, @x2 @y2 @blur2 @spread2 @color2 inset;
    -webkit-box-shadow:@x @y @blur @spread @color inset, @x2 @y2 @blur2 @spread2 @color2 inset;
    -o-box-shadow:@x @y @blur @spread @color inset, @x2 @y2 @blur2 @spread2 @color2 inset;
}


.box-shadow(dual, @x: 0, @y: 0, @blur: 2px, @spread: 2px, @color: #111, @x2: 0, @y2: 0, @blur2: 2px, @spread2: 2px, @color2: #111, inset) {
    box-shadow:@x @y @blur @spread @color, @x2 @y2 @blur2 @spread2 @color2 inset;
    -moz-box-shadow:@x @y @blur @spread @color, @x2 @y2 @blur2 @spread2 @color2 inset;
    -webkit-box-shadow:@x @y @blur @spread @color, @x2 @y2 @blur2 @spread2 @color2 inset;
    -o-box-shadow:@x @y @blur @spread @color, @x2 @y2 @blur2 @spread2 @color2 inset;
}


.box-shadow(dual, @x: 0, @y: 0, @blur: 2px, @spread: 2px, @color: #111, inset, @x2: 0, @y2: 0, @blur2: 2px, @spread2: 2px, @color2: #111) {
    box-shadow:@x @y @blur @spread @color inset, @x2 @y2 @blur2 @spread2 @color2;
    -moz-box-shadow:@x @y @blur @spread @color inset, @x2 @y2 @blur2 @spread2 @color2;
    -webkit-box-shadow:@x @y @blur @spread @color inset, @x2 @y2 @blur2 @spread2 @color2;
    -o-box-shadow:@x @y @blur @spread @color inset, @x2 @y2 @blur2 @spread2 @color2;
}


.box-shadow(dual, @x: 0, @y: 0, @blur: 2px, @spread: 2px, @color: #111, @x2: 0, @y2: 0, @blur2: 2px, @spread2: 2px, @color2: #111) {
    box-shadow:@x @y @blur @spread @color, @x2 @y2 @blur2 @spread2 @color2;
    -moz-box-shadow:@x @y @blur @spread @color, @x2 @y2 @blur2 @spread2 @color2;
    -webkit-box-shadow:@x @y @blur @spread @color, @x2 @y2 @blur2 @spread2 @color2;
    -o-box-shadow:@x @y @blur @spread @color, @x2 @y2 @blur2 @spread2 @color2;
}

.text-shadow(@x: 1px, @y: 1px, @blur: 0, @color: #111) {
    text-shadow:@arguments;
}

/* Gradients */
.grad-gray {
    background: rgb(53,53,53); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(53,53,53,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,53,53,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(53,53,53,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(53,53,53,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(53,53,53,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(53,53,53,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

.grad-dark-gray {
    background: rgb(37,37,37); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,37,37,1) 0%, rgba(17,17,17,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,37,37,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,37,37,1) 0%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,37,37,1) 0%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,37,37,1) 0%,rgba(17,17,17,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(37,37,37,1) 0%,rgba(17,17,17,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
}

.grad-blue {
    background: rgb(0,155,214); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,155,214,1) 0%, rgba(1,95,157,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,155,214,1)), color-stop(100%,rgba(1,95,157,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,155,214,1) 0%,rgba(1,95,157,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,155,214,1) 0%,rgba(1,95,157,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,155,214,1) 0%,rgba(1,95,157,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,155,214,1) 0%,rgba(1,95,157,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009bd6', endColorstr='#015f9d',GradientType=0 ); /* IE6-9 */
}

/* Animations */
.animation(@name, @duration: 1s) {
    animation-duration:@duration;
    animation-name:@name;

    -moz-animation-duration:@duration;
    -moz-animation-name:@name;

    -webkit-animation-duration:@duration;
    -webkit-animation-name:@name;

    -o-animation-duration:@duration;
    -o-animation-name:@name;
}

.border-pulse-blue-keyframes() {
    0% { border-color:rgba(82, 168, 236, 0.8); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }
    50% { border-color:rgba(82, 168, 236, 0.8); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }
    100% { border-color:#444; box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset; }
}

@keyframes border-pulse-blue { .border-pulse-blue-keyframes(); }
@-moz-keyframes border-pulse-blue { .border-pulse-blue-keyframes(); }
@-webkit-keyframes border-pulse-blue { .border-pulse-blue-keyframes(); }
@-o-keyframes border-pulse-blue { .border-pulse-blue-keyframes(); }