.red { color:@red; }
.blue { color:@blue; }

.floatL { float:left; }
.floatR { float:right; }

.clear { clear:both; }

.col25 { float:left; width:25%; }
.col50 { float:left; width:50%; }
.col75 { float:left; width:75%; }

.chzn-container { color:@gray; }

.centered { text-align:center; }

.helvetica { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }