.icon(@size: 16px) {
    height:@size;
    width:@size;

    display: block;

    background:left top no-repeat Transparent;
}

.icon-16 { .icon(16px); }
.icon-22 { .icon(22px); }
.icon-32 { .icon(32px); }
.icon-48 { .icon(48px); }
.icon-64 { .icon(64px); }
.icon-128 { .icon(128px); }

//16px icons

//22px icons
.icon-22-key { background-image:url(/img/icons/22/key.png); }
.icon-22-user { background-image:url(/img/icons/22/user.png); }

// 32px icons
.icon-32-config { background-image:url(/img/icons/32/config.png); }
.icon-32-config2 { background-image:url(/img/icons/32/config2.png); }
.icon-32-database { background-image:url(/img/icons/32/database.png); }
.icon-32-network { background-image:url(/img/icons/32/network.png); }
.icon-32-network2 { background-image:url(/img/icons/32/network2.png); }
.icon-32-dashboard { background-image:url(/img/icons/32/screen.png); }
.icon-32-servers { background-image:url(/img/icons/32/servers.png); }
.icon-32-stats { background-image:url(/img/icons/32/stats.png); }
.icon-32-user { background-image:url(/img/icons/32/user.png); }

.icon-32-config-blue { background-image:url(/img/icons/32/config_blue.png); }
.icon-32-config2-blue { background-image:url(/img/icons/32/config2_blue.png); }
.icon-32-database-blue { background-image:url(/img/icons/32/database_blue.png); }
.icon-32-network-blue { background-image:url(/img/icons/32/network_blue.png); }
.icon-32-network2-blue { background-image:url(/img/icons/32/network2_blue.png); }
.icon-32-dashboard-blue { background-image:url(/img/icons/32/screen_blue.png); }
.icon-32-servers-blue { background-image:url(/img/icons/32/servers_blue.png); }
.icon-32-stats-blue { background-image:url(/img/icons/32/stats_blue.png); }
.icon-32-user-blue { background-image:url(/img/icons/32/user_blue.png); }

//48px icons

//64px icons

//128px icons
.icon-128-lock { background-image:url(/img/icons/128/lock.png); }

input.input-icon {
    border-radius:0 3px 3px 0;
}

img.input-icon {
    background:#fff;
    border-radius:3px 0 0 3px;
    border-top:solid 1px #CCC;
    border-bottom:solid 1px #CCC;
    border-left:solid 1px #CCC;

    padding:5px;

    vertical-align:bottom;
}